{% extends 'index/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
        Signin
{% endblock %}

{% block content %}
  <div class="cs-height_90 cs-height_lg_80"></div>


  <div class="cs-height_100 cs-height_lg_70"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-8 offset-xl-3 offset-md-2">

          <div class="cs-form_card_in">
            <h2 class="cs-form_title text-center">Reset Password</h2>

            <div class="cs-height_30 cs-height_lg_30"></div>
         <!--Password Reset Complete-->
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="/signin" class="btn btn-primary">Log in</a>
    </div>
          </div>

      </div>
    </div>
  </div>
  <div class="cs-height_100 cs-height_lg_70"></div>
{% endblock %}



