{% extends 'index/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
        Done
{% endblock %}

{% block content %}


  <div class="cs-height_100 cs-height_lg_70"></div>
  <div class="container">
    <div class="row">

            <div class="cs-height_30 cs-height_lg_30"></div>
         <!--Password Reset Complete-->
    <div class="container p-4">
		<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your password,
            if an account exists with the email you entered.
            You should receive them shortly.<br>If you don't receive an email,
            please make sure you've entered the address you registered with,
            and check your spam folder.</p>
  </div>

    </div>
  </div>
  <div class="cs-height_100 cs-height_lg_70"></div>
{% endblock %}




