{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
<title>How to Convert Numbers into Words using jQuery - AllPHPTricks.com</title>
</head>
<body>
<h1>How to Convert Numbers into Words using jQuery - AllPHPTricks.com</h1>

<table>
<tr>
<td>Amount 1:</td>
<td>
{#    <input type="text" name="amount1" id="amount1" class="numbers">#}
    {% render_field form.amount_deposited type="text" class="numbers" id="amount1" %}
</td>
</tr>
<tr>
<td>Amount 2:</td>
<td><input type="text" name="amount2" id="amount2" class="numbers"></td>
</tr>
<tr>
<td>Total Amount:</td>
<td>
    <input type="text" name="totalval" id="totalval" readonly>
</td>
</tr>
<tr>
<td colspan="2">Total Amount in Words (Rupees):</td>
</tr>
<tr>
<td colspan="2">
    <input type="text" name="amount-rupees" id="amount-rupees" style="width: 270px;" readonly /></td>
</tr>
</table>


<script src="{% static 'deposit/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'deposit/js/num-to-words.js' %}" type="text/javascript"></script>
<script>
//Enter Only Numbers
$("numbers").keypress(function (event) {
    var inputCode = event.which;
    var currentValue = $(this).val();
    if (inputCode > 0 && (inputCode < 48 || inputCode > 57)) {
        if (inputCode == 46) {
            if (getCursorPosition(this) == 0 && currentValue.charAt(0) == '-') return false;
            if (currentValue.match(/[.]/)) return false;
        }
        else if (inputCode == 45) {
            if (currentValue.charAt(0) == '-') return false;
            if (getCursorPosition(this) != 0) return false;
        }
        else if (inputCode == 8) return true;
        else return false;

    }
    else if (inputCode > 0 && (inputCode >= 48 && inputCode <= 57)) {
        if (currentValue.charAt(0) == '-' && getCursorPosition(this) == 0) return false;
    }
});
function getCursorPosition(element) {
    if (element.selectionStart) return element.selectionStart;
    else if (document.selection)
    {
        element.focus();
        var r = document.selection.createRange();
        if (r == null) return 0;

        var re = element.createTextRange(),
            rc = re.duplicate();
        re.moveToBookmark(r.getBookmark());
        rc.setEndPoint('EndToStart', re);
        return rc.text.length;
    }
    return 0;
}

var words="";
$(function() {
    $("#amount1, #amount2").on("keydown keyup", per);
	function per() {
        var usd = 0.002;
		var totalamount = (
		Number($("#amount1").val()) * usd
		);
		$("#totalval").val(totalamount);
		words = toWords(totalamount);
		$("#amount-rupees").val(words + "Rupees Only");
	}
});
</script>
</body>
</html>