{% extends 'dashboard/base/baseana.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Deposit
{% endblock %}



{% block content %}
    <style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 100px;
    padding: 5px;
    align-items: center;
    text-align: center;

}

.column img{
    height: 60px;
    width: 40px;
}

</style>
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">

				<div class="row">
					<div class="col">
						<h6 class="mb-0 text-uppercase">Choose Payment method</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div class="p-4 border rounded">

                                    <!-- Pricing Two Start -->
                                        <h3 class="text-center mb-35">Select Your Payment Method</h3>

                                        <div class="row justify-content-center mb-50">

                                            <div class="pricing-two col-lg-auto col-12 mb-30">
                                                <div class="inner">

                                                    <div class="row">
                                                    {% for object in object_list %}

                                                      <div class="column">
                                                        <a href="{% url 'deposit' object.slug %}"><img src="{{ MEDIA_URL }}{{ object.logo.url }}" alt="Snow" style="width:100%"></a>
                                                      <span><a href="{% url 'deposit' object.slug %}">{{ object.currency_name }}</a></span>
                                                      </div>

                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            </div>

                                        </div><!-- Pricing Two End -->

								</div>
							</div>
						</div>

					</div>
				</div>
				<!--end row-->
			</div>
		</div>
		<!--end page wrapper -->

	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function () {
			  'use strict'

			  // Fetch all the forms we want to apply custom Bootstrap validation styles to
			  var forms = document.querySelectorAll('.needs-validation')

			  // Loop over them and prevent submission
			  Array.prototype.slice.call(forms)
				.forEach(function (form) {
				  form.addEventListener('submit', function (event) {
					if (!form.checkValidity()) {
					  event.preventDefault()
					  event.stopPropagation()
					}

					form.classList.add('was-validated')
				  }, false)
				})
			})()
	</script>
	<!--app JS-->
{% endblock %}
